a {
  color: black;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#meu-nome {
  font-family: 'Courier New', Courier, monospace;
}

div {
  background-color: rgb(255,228,225);
  text-align: center;
}

li {
  list-style-type: none;
}

.tecnicas {
  font-size: 18px;
}

.pessoais {
  font-size: 20px;
}