* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}
/* ---------- RESET STYLES -------- */

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  background-color: rgb(255,228,225);
  width: 100%;
}

/* --------- BODY STYLE ---------- */

header {
  background-image: linear-gradient(270deg, #9b1a13, #CC463B);
  height: 50px;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

header a {
  color: rgb(255,228,225);
  text-decoration: none;
  padding: 65px;
}

/* ---------- até aqui HEADER --------- */

main {
  margin-left: 50px;
  margin-top: 60px;
}

#meu-nome {
  font-family: 'Courier New', Courier, monospace;
}

#foto-principal {
  border: 4px solid white;
  margin-top: 20px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

#descricao-pessoal {
  text-align: justify;
}

nav {
  margin-top: 15px;
}


section{
  border:1px solid black;
  width: 500px;
  height: 400px;
  display: inline-block;
  background-color: white;
  /*mudei limites da caixa abaixo*/
  box-sizing: border-box;
  padding-top: 1px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/*-----COMEÇAM AS HABILIDADES------*/

#selo {
  position: absolute;
  top: 130px;
  margin-left: 750px;
}

li {
  list-style-type: none;
}

.pessoais {
  font-size: 20px;
}

#habilidades-tecnicas {
  font-size: 22px;
  width: 400px;
  top: 555px;
  position: absolute;
  margin-left: 400px;
}

.tecnicas {
  font-size: 20px;
  width:400px;
  top: 620px;
  position: absolute;
  margin-left: 400px;
}

h4 {
  position: sticky;
  top: 0;
  left: 20px;
}

/* --------- COMEÇA O FOOTER --------- */

footer {
  background-image: linear-gradient(270deg, #9b1a13, #CC463B);
  padding: 15px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255,228,225);
}